
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

   <div class="card-body">
       <div class="text-center mb-3">
       

       <h3>Esqueci minha senha</h3>
       <p>Entre com seu email para recuperar a senha</p>

       </div>

       <form>
            
             <div class="mb-3">
               <label>Entre com seu email:</label>
               <input type="text" class="form-control" />
             </div>


              <div class="mb-3 d-grid">
               <input type="submit" class="btn btn-success" value="Recuperar senha" />
             </div>

             <div class="mb-3 d-grid">
               <a href="/Account/Login" class="btn btn-primary">
                   Já possui conta? <strong>Acesse aqui!</strong>
                </a>
             </div>


       </form>

   </div>