
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agenda de Contatos</title>
    <link rel="stylesheet" href="~/css/bootstrap.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <!--bootstrap navbar-->
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Agenda de contatos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/Contatos/Cadastro">Cadastrar Contatos</a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link" href="/Contatos/Consulta">Consultar Contatos</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <!--main area-->

        <div class="container mt-3">
            @RenderBody()
        </div>

     <script src="~/js/bootstrap.js"></script>
</body>
</html>
